:root {
  --primary-color: #212121;
  --no-primary-color: #757575;
  --nav-color: #2196f3;
  --white: #ffffff;
  --background: #2f303a;
  --white-tel-em: rgba(255, 255, 255, 0.6);
  --border-color: #ececec;
  --items-color: #eeeeee;
}
body {
  font-family: "Roboto", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  margin: 0px;
}
p {
  margin: 0px;
}
/*  Стили первой секции */
.section-king {
  background-color: rgb(226, 224, 214);
  background-image: url(./images/15923157322834.webp);
  margin-right: auto;
  margin-left: auto;
  max-width: 1600px;
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
}
.porno-king {
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0.03em;
  padding-top: 50px;
  text-align: center;
  color: white;
  margin-bottom: 50px;
}

.list {
  list-style: none;
}
.ul-king {
  display: flex;
}
.ul-king .item {
  margin-right: 20px;
}
.ul-kings {
  display: flex;
  margin-right: 124px;
  padding-top: 50px;
}
.ul-kings .item {
  margin-right: 124px;
  box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, 0.3);
}
.ul-kings .item:last-child {
  margin: 0;
}
.span-king {
  box-shadow: inset 0 0 10px 5px rgba(211, 20, 20, 0.3);
}
.ul-king .item:last-child {
  margin: 0;
}
.container {
  width: 1400px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.flex-container {
  display: flex;
}
.photo-king {
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 20px 20px 16px 4px rgba(252, 247, 247, 0.3);
}
/*  Стили второй секции */
.pamaut {
  display: flex;
}
.pamaut .item {
  margin-right: 50px;
  box-shadow: inset 15px 10px 10px 5px rgba(0, 0, 0, 0.3);
}
.pamaut .item:last-child {
  margin: 0;
}
.pamaut-name {
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0.03em;
  padding-top: 50px;
  text-align: center;
  color: red;
  margin-bottom: 30px;
}
.section-pamaut {
  background-color: rgb(226, 224, 214);
  padding-bottom: 40px;
  background-image: radial-gradient(
    at center,
    rgba(21, 221, 71, 0.3) 10%,
    rgba(160, 128, 221, 0.3) 50%
  );
}
/* Стили третьей секции*/
.opisanie-name {
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0.03em;
  padding-top: 50px;
  text-align: center;
  color: #7e2323;
  margin-bottom: 50px;
}
.opisanie-opis {
  display: flex;
}
.opisanie-p {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
.opisanie-div {
  display: flex;
}
.opisanie-opis .item {
  margin-top: 30px;
  margin-right: 40px;
}
.opisanie-opis .item:last-child {
  margin-right: 0;
}
.section-opisanie {
  background-image: linear-gradient(
    to right,
    rgba(160, 128, 221, 0.3),
    rgba(37, 163, 132, 0.3)
  );
}
